In [1]:
import pandas as pd

# ✅ Step 1: Load the dataset with semicolon separator
df = pd.read_csv('/Users/akshay/Desktop/dsbda_practical/DSBDALExam DataSets/DSBDALExam DataSets/dataset_Facebook.csv', sep=';', encoding='latin1')

# ✅ Print basic info
print("Original Dataset Shape:", df.shape)
print("Columns:", df.columns.tolist())

# ✅ Step 2: Create subsets for each post type
photo_posts = df[df['Type'] == 'Photo']
status_posts = df[df['Type'] == 'Status']
video_posts = df[df['Type'] == 'Video'] if 'Video' in df['Type'].unique() else pd.DataFrame()
link_posts = df[df['Type'] == 'Link'] if 'Link' in df['Type'].unique() else pd.DataFrame()

# ✅ Step 3: Merge two subsets (e.g., Photo and Status)
merged_posts = pd.concat([photo_posts, status_posts], ignore_index=True)

# ✅ Step 4: Sort by Page total likes
sorted_df = df.sort_values(by='Page total likes', ascending=False)

# ✅ Step 5: Transpose the dataset
transposed_df = df.T

# ✅ Step 6: Melt data (convert from wide to long format)
melted_df = pd.melt(df,
                    id_vars=['Type', 'Category'],
                    value_vars=['like', 'share', 'comment'],
                    var_name='Interaction Type',
                    value_name='Count')


# ✅ Step 7: Pivot (cast) back to wide format
cast_df = melted_df.pivot_table(index=['Type', 'Category'],
                                columns='Interaction Type',
                                values='Count',
                                aggfunc='sum').reset_index()

# ✅ Optional: Display results
print("\nPhoto Posts Sample:\n", photo_posts.head())
print("\nMerged Posts (Photo + Status):\n", merged_posts.head())
print("\nSorted by Page total likes:\n", sorted_df[['Page total likes', 'Type']].head())
print("\nTransposed Data (first 5 rows):\n", transposed_df.head())
print("\nMelted Data (long format):\n", melted_df.head())
print("\nPivoted Data (wide format):\n", cast_df.head())

Original Dataset Shape: (500, 19)
Columns: ['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday', 'Post Hour', 'Paid', 'Lifetime Post Total Reach', 'Lifetime Post Total Impressions', 'Lifetime Engaged Users', 'Lifetime Post Consumers', 'Lifetime Post Consumptions', 'Lifetime Post Impressions by people who have liked your Page', 'Lifetime Post reach by people who like your Page', 'Lifetime People who have liked your Page and engaged with your post', 'comment', 'like', 'share', 'Total Interactions']

Photo Posts Sample:
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
2            139441  Photo         3          12             3          3
3            139441  Photo         2          12             2         10
4            139441  Photo         2          12             2          3
6            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594
6   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
2                     177                      113
3                    2211                      790
4                     671                      410
6                     481                      265

   Lifetime Post Consumptions  \
0                         159
2                         154
3                        1119
4                         580
6                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
2                                               2812
3                                              61027
4                                               6228
6                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
2                                              1503
3                                             32048
4                                              3200
6                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
2                                                132
3                                               1386
4                                                396
6                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393
6        3   249.0   27.0                 279

Merged Posts (Photo + Status):
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
1            139441  Photo         3          12             3          3
2            139441  Photo         2          12             2         10
3            139441  Photo         2          12             2          3
4            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                       2413                             4373
2   1.0                      50128                            87991
3   0.0                       7244                            13594
4   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                     177                      113
2                    2211                      790
3                     671                      410
4                     481                      265

   Lifetime Post Consumptions  \
0                         159
1                         154
2                        1119
3                         580
4                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                               2812
2                                              61027
3                                               6228
4                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              1503
2                                             32048
3                                              3200
4                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                                132
2                                               1386
3                                                396
4                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        0    66.0   14.0                  80
2       58  1572.0  147.0                1777
3       19   325.0   49.0                 393
4        3   249.0   27.0                 279

Sorted by Page total likes:
     Page total likes    Type
0             139441   Photo
8             139441  Status
1             139441  Status
12            139441   Photo
11            139441   Photo

Transposed Data (first 5 rows):
                      0       1       2       3       4       5       6    \
Page total likes  139441  139441  139441  139441  139441  139441  139441
Type               Photo  Status   Photo   Photo   Photo  Status   Photo
Category               2       2       3       2       2       2       3
Post Month            12      12      12      12      12      12      12
Post Weekday           4       3       3       2       2       1       1

                     7       8       9    ...    490    491    492    493  \
Page total likes  139441  139441  139441  ...  85979  85979  85979  85093
Type               Photo  Status   Photo  ...  Photo  Photo   Link  Photo
Category               3       2       3  ...      3      3      1      3
Post Month            12      12      12  ...      1      1      1      1
Post Weekday           7       7       6  ...      6      6      5      1

                    494    495    496    497    498    499
Page total likes  85093  85093  81370  81370  81370  81370
Type              Photo  Photo  Photo  Photo  Photo  Photo
Category              3      3      2      1      3      2
Post Month            1      1      1      1      1      1
Post Weekday          7      7      5      5      4      4

[5 rows x 500 columns]

Melted Data (long format):
      Type  Category Interaction Type   Count
0   Photo         2             like    79.0
1  Status         2             like   130.0
2   Photo         3             like    66.0
3   Photo         2             like  1572.0
4   Photo         2             like   325.0

Pivoted Data (wide format):
 Interaction Type   Type  Category  comment     like   share
0                  Link         1     58.0   1513.0   254.0
1                  Link         2      2.0     32.0    15.0
2                  Link         3      2.0     68.0    15.0
3                 Photo         1   1091.0  23184.0  3251.0
4                 Photo         2   1064.0  21463.0  3231.0

In [2]:
pd.melt?

Signature:
pd.melt(
    frame: 'DataFrame',
    id_vars=None,
    value_vars=None,
    var_name=None,
    value_name: 'Hashable' = 'value',
    col_level=None,
    ignore_index: 'bool' = True,
) -> 'DataFrame'
Docstring:
Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

This function is useful to massage a DataFrame into a format where one
or more columns are identifier variables (`id_vars`), while all other
columns, considered measured variables (`value_vars`), are "unpivoted" to
the row axis, leaving just two non-identifier columns, 'variable' and
'value'.

Parameters
----------
id_vars : scalar, tuple, list, or ndarray, optional
    Column(s) to use as identifier variables.
value_vars : scalar, tuple, list, or ndarray, optional
    Column(s) to unpivot. If not specified, uses all columns that
    are not set as `id_vars`.
var_name : scalar, default None
    Name to use for the 'variable' column. If None it uses
    ``frame.columns.name`` or 'variable'.
value_name : scalar, default 'value'
    Name to use for the 'value' column, can't be an existing column label.
col_level : scalar, optional
    If columns are a MultiIndex then use this level to melt.
ignore_index : bool, default True
    If True, original index is ignored. If False, the original index is retained.
    Index labels will be repeated as necessary.

Returns
-------
DataFrame
    Unpivoted DataFrame.

See Also
--------
DataFrame.melt : Identical method.
pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
DataFrame.pivot : Return reshaped DataFrame organized
    by given index / column values.
DataFrame.explode : Explode a DataFrame from list-like
        columns to long format.

Notes
-----
Reference :ref:`the user guide <reshaping.melt>` for more examples.

Examples
--------
>>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
...                    'B': {0: 1, 1: 3, 2: 5},
...                    'C': {0: 2, 1: 4, 2: 6}})
>>> df
   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

>>> pd.melt(df, id_vars=['A'], value_vars=['B'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

>>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

The names of 'variable' and 'value' columns can be customized:

>>> pd.melt(df, id_vars=['A'], value_vars=['B'],
...         var_name='myVarname', value_name='myValname')
   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5

Original index values can be kept around:

>>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
0  a        C      2
1  b        C      4
2  c        C      6

If you have multi-index columns:

>>> df.columns = [list('ABC'), list('DEF')]
>>> df
   A  B  C
   D  E  F
0  a  1  2
1  b  3  4
2  c  5  6

>>> pd.melt(df, col_level=0, id_vars=['A'], value_vars=['B'])
   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

>>> pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])
  (A, D) variable_0 variable_1  value
0      a          B          E      1
1      b          B          E      3
2      c          B          E      5
File:      /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages/pandas/core/reshape/melt.py
Type:      function

In [3]:
pd.pivot_table?

Signature:
pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'Hashable' = 'All',
    observed: 'bool | lib.NoDefault' = <no_default>,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : list-like or scalar, optional
    Column or columns to aggregate.
index : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table index. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
columns : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table column. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
aggfunc : function, list of functions, dict, default "mean"
    If a list of functions is passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves).
    If a dict is passed, the key is column to aggregate and the value is
    function or list of functions. If ``margin=True``, aggfunc will be
    used to calculate the partial aggregates.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    If ``margins=True``, special ``All`` columns and rows
    will be added with partial group aggregates across the categories
    on the rows and columns.
dropna : bool, default True
    Do not include columns whose entries are all NaN. If True,
    rows with a NaN value in any column will be omitted before
    computing margins.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.2.0

        The default value of ``False`` is deprecated and will change to
        ``True`` in a future version of pandas.

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum")
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum", fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean", 'E': "mean"})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean",
...                                 'E': ["min", "max", "mean"]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages/pandas/core/reshape/pivot.py
Type:      function