In [2]:
import pandas as pd

# Load the Facebook metrics dataset
df = pd.read_csv('/Users/akshay/Desktop/dsbda_practical/DSBDALExam DataSets/DSBDALExam DataSets/dataset_Facebook.csv', encoding='latin1')
print("Original Dataset Shape:", df.shape)

Original Dataset Shape: (500, 1)

In [4]:
print(df.columns)

Index(['Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions'], dtype='object')

In [9]:
import pandas as pd

# ✅ Step 1: Load the dataset with semicolon separator
df = pd.read_csv('/Users/akshay/Desktop/dsbda_practical/DSBDALExam DataSets/DSBDALExam DataSets/dataset_Facebook.csv', sep=';', encoding='latin1')

# ✅ Print basic info
print("Original Dataset Shape:", df.shape)
print("Columns:", df.columns.tolist())

# ✅ Step 2: Create subsets for each post type
photo_posts = df[df['Type'] == 'Photo']
status_posts = df[df['Type'] == 'Status']
video_posts = df[df['Type'] == 'Video'] if 'Video' in df['Type'].unique() else pd.DataFrame()
link_posts = df[df['Type'] == 'Link'] if 'Link' in df['Type'].unique() else pd.DataFrame()

# ✅ Step 3: Merge two subsets (e.g., Photo and Status)
merged_posts = pd.concat([photo_posts, status_posts], ignore_index=True)

# ✅ Step 4: Sort by Page total likes
sorted_df = df.sort_values(by='Page total likes', ascending=False)

# ✅ Step 5: Transpose the dataset
transposed_df = df.T

# ✅ Step 6: Melt data (convert from wide to long format)
melted_df = pd.melt(df,
                    id_vars=['Type', 'Category'],
                    value_vars=['like', 'share', 'comment'],
                    var_name='Interaction Type',
                    value_name='Count')


# ✅ Step 7: Pivot (cast) back to wide format
cast_df = melted_df.pivot_table(index=['Type', 'Category'],
                                columns='Interaction Type',
                                values='Count',
                                aggfunc='sum').reset_index()

# ✅ Optional: Display results
print("\nPhoto Posts Sample:\n", photo_posts.head())
print("\nMerged Posts (Photo + Status):\n", merged_posts.head())
print("\nSorted by Page total likes:\n", sorted_df[['Page total likes', 'Type']].head())
print("\nTransposed Data (first 5 rows):\n", transposed_df.head())
print("\nMelted Data (long format):\n", melted_df.head())
print("\nPivoted Data (wide format):\n", cast_df.head())

Original Dataset Shape: (500, 19)
Columns: ['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday', 'Post Hour', 'Paid', 'Lifetime Post Total Reach', 'Lifetime Post Total Impressions', 'Lifetime Engaged Users', 'Lifetime Post Consumers', 'Lifetime Post Consumptions', 'Lifetime Post Impressions by people who have liked your Page', 'Lifetime Post reach by people who like your Page', 'Lifetime People who have liked your Page and engaged with your post', 'comment', 'like', 'share', 'Total Interactions']

Photo Posts Sample:
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
2            139441  Photo         3          12             3          3
3            139441  Photo         2          12             2         10
4            139441  Photo         2          12             2          3
6            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594
6   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
2                     177                      113
3                    2211                      790
4                     671                      410
6                     481                      265

   Lifetime Post Consumptions  \
0                         159
2                         154
3                        1119
4                         580
6                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
2                                               2812
3                                              61027
4                                               6228
6                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
2                                              1503
3                                             32048
4                                              3200
6                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
2                                                132
3                                               1386
4                                                396
6                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393
6        3   249.0   27.0                 279

Merged Posts (Photo + Status):
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
1            139441  Photo         3          12             3          3
2            139441  Photo         2          12             2         10
3            139441  Photo         2          12             2          3
4            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                       2413                             4373
2   1.0                      50128                            87991
3   0.0                       7244                            13594
4   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                     177                      113
2                    2211                      790
3                     671                      410
4                     481                      265

   Lifetime Post Consumptions  \
0                         159
1                         154
2                        1119
3                         580
4                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                               2812
2                                              61027
3                                               6228
4                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              1503
2                                             32048
3                                              3200
4                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                                132
2                                               1386
3                                                396
4                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        0    66.0   14.0                  80
2       58  1572.0  147.0                1777
3       19   325.0   49.0                 393
4        3   249.0   27.0                 279

Sorted by Page total likes:
     Page total likes    Type
0             139441   Photo
8             139441  Status
1             139441  Status
12            139441   Photo
11            139441   Photo

Transposed Data (first 5 rows):
                      0       1       2       3       4       5       6    \
Page total likes  139441  139441  139441  139441  139441  139441  139441
Type               Photo  Status   Photo   Photo   Photo  Status   Photo
Category               2       2       3       2       2       2       3
Post Month            12      12      12      12      12      12      12
Post Weekday           4       3       3       2       2       1       1

                     7       8       9    ...    490    491    492    493  \
Page total likes  139441  139441  139441  ...  85979  85979  85979  85093
Type               Photo  Status   Photo  ...  Photo  Photo   Link  Photo
Category               3       2       3  ...      3      3      1      3
Post Month            12      12      12  ...      1      1      1      1
Post Weekday           7       7       6  ...      6      6      5      1

                    494    495    496    497    498    499
Page total likes  85093  85093  81370  81370  81370  81370
Type              Photo  Photo  Photo  Photo  Photo  Photo
Category              3      3      2      1      3      2
Post Month            1      1      1      1      1      1
Post Weekday          7      7      5      5      4      4

[5 rows x 500 columns]

Melted Data (long format):
      Type  Category Interaction Type   Count
0   Photo         2             like    79.0
1  Status         2             like   130.0
2   Photo         3             like    66.0
3   Photo         2             like  1572.0
4   Photo         2             like   325.0

Pivoted Data (wide format):
 Interaction Type   Type  Category  comment     like   share
0                  Link         1     58.0   1513.0   254.0
1                  Link         2      2.0     32.0    15.0
2                  Link         3      2.0     68.0    15.0
3                 Photo         1   1091.0  23184.0  3251.0
4                 Photo         2   1064.0  21463.0  3231.0

In [19]:
import pandas as pd

# Make sure to include the .csv file extension in the path
df = pd.read_csv("/Users/akshay/Desktop/dsbda_practical/DSBDALExam DataSets/DSBDALExam DataSets/Iris/Iris.csv", sep=',', encoding='latin1')

# Print basic information about the dataset
print("Dataset Shape:", df.shape)
print("Columns:", df.columns.tolist())

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
Dataset Shape: (149, 5)
Columns: ['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']

In [22]:
# Print column names to check for any discrepancies
print(df.columns.tolist())

['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/Users/akshay/Desktop/dsbda_practical/newdata/iris.csv")

# --- g. Create data subsets for different species ---
setosa = df[df['variety'] == 'Setosa']
versicolor = df[df['variety'] == 'Versicolor']
virginica = df[df['variety'] == 'Virginica']

print("Subset: Setosa")
print(setosa.head())

# --- h. Merge two subsets (Setosa + Versicolor) ---
merged_df = pd.concat([setosa, versicolor])
print("\nMerged DataFrame (Setosa + Versicolor):")
print(merged_df.head())

# --- i. Sort Data by Petal Length ---
sorted_df = df.sort_values(by='petal.length')
print("\nData Sorted by Petal Length:")
print(sorted_df.head())

# --- j. Transposing Data (first 5 rows) ---
transposed_df = df.head().transpose()
print("\nTransposed Data (first 5 rows):")
print(transposed_df)

# --- k. Melting Data to Long Format ---
df = df.reset_index()  # Assign a unique index column
melted_df = pd.melt(df, 
                    id_vars=['index', 'variety'], 
                    value_vars=['sepal.length', 'sepal.width', 'petal.length', 'petal.width'],
                    var_name='feature', 
                    value_name='value')
print("\nMelted Data (Long Format):")
print(melted_df.head())

# --- l. Casting Data to Wide Format (Fixed) ---
wide_df = melted_df.pivot_table(index='index', 
                                 columns='feature', 
                                 values='value')

# Add variety column back using a merge on index
wide_df = wide_df.merge(df[['index', 'variety']], on='index')
print("\nCasted Data (Wide Format):")
print(wide_df.head())

Subset: Setosa
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Merged DataFrame (Setosa + Versicolor):
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Data Sorted by Petal Length:
    sepal.length  sepal.width  petal.length  petal.width variety
22           4.6          3.6           1.0          0.2  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa

Transposed Data (first 5 rows):
                   0       1       2       3       4
sepal.length     5.1     4.9     4.7     4.6     5.0
sepal.width      3.5     3.0     3.2     3.1     3.6
petal.length     1.4     1.4     1.3     1.5     1.4
petal.width      0.2     0.2     0.2     0.2     0.2
variety       Setosa  Setosa  Setosa  Setosa  Setosa

Melted Data (Long Format):
   index variety       feature  value
0      0  Setosa  sepal.length    5.1
1      1  Setosa  sepal.length    4.9
2      2  Setosa  sepal.length    4.7
3      3  Setosa  sepal.length    4.6
4      4  Setosa  sepal.length    5.0

Casted Data (Wide Format):
   index  petal.length  petal.width  sepal.length  sepal.width variety
0      0           1.4          0.2           5.1          3.5  Setosa
1      1           1.4          0.2           4.9          3.0  Setosa
2      2           1.3          0.2           4.7          3.2  Setosa
3      3           1.5          0.2           4.6          3.1  Setosa
4      4           1.4          0.2           5.0          3.6  Setosa

In [30]:
import pandas as pd

# Load the dataset with no header
df = pd.read_csv("/Users/akshay/Desktop/dsbda_practical/DSBDALExam DataSets/DSBDALExam DataSets/Iris/Iris.csv", sep=',', header=None)

# Assign column names manually
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

# Display the first few rows of the dataset
print(df.head())

# g. Create data subsets for different species
setosa_df = df[df['class'] == 'Iris-setosa']
versicolor_df = df[df['class'] == 'Iris-versicolor']
virginica_df = df[df['class'] == 'Iris-virginica']

# Display the shape of each subset
print("Setosa species subset shape:", setosa_df.shape)
print("Versicolor species subset shape:", versicolor_df.shape)
print("Virginica species subset shape:", virginica_df.shape)

# h. Merge two subsets (e.g., Setosa and Versicolor)
merged_df = pd.concat([setosa_df, versicolor_df], ignore_index=True)

# Display the first few rows of the merged DataFrame
print("\nMerged Setosa and Versicolor subsets:")
print(merged_df.head())

# i. Sort data by Petal Length
sorted_df = df.sort_values(by='petal_length')

# Display the first few rows of the sorted DataFrame
print("\nSorted data by Petal Length:")
print(sorted_df.head())

# j. Transposing Data
transposed_df = df.T

# Display the transposed Data
print("\nTransposed Data:")
print(transposed_df.head())

# k. Melting data to long format
melted_df = pd.melt(df, id_vars=['class'], value_vars=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

# Display the first few rows of the melted DataFrame
print("\nMelted Data to Long Format:")
print(melted_df.head())

# l. Casting data to wide format (using 'class' as the column identifier and 'variable' as the header)
casted_df = melted_df.pivot_table(index=['class'], columns=['variable'], values='value', aggfunc='first')

# Display the casted (wide) format data
print("\nCasted Data to Wide Format:")
print(casted_df.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
Setosa species subset shape: (50, 5)
Versicolor species subset shape: (50, 5)
Virginica species subset shape: (50, 5)

Merged Setosa and Versicolor subsets:
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Sorted data by Petal Length:
    sepal_length  sepal_width  petal_length  petal_width        class
22           4.6          3.6           1.0          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa

Transposed Data:
                      0            1            2            3            4    \
sepal_length          5.1          4.9          4.7          4.6          5.0
sepal_width           3.5          3.0          3.2          3.1          3.6
petal_length          1.4          1.4          1.3          1.5          1.4
petal_width           0.2          0.2          0.2          0.2          0.2
class         Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

                      5            6            7            8            9    \
sepal_length          5.4          4.6          5.0          4.4          4.9
sepal_width           3.9          3.4          3.4          2.9          3.1
petal_length          1.7          1.4          1.5          1.4          1.5
petal_width           0.4          0.3          0.2          0.2          0.1
class         Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

              ...             140             141             142  \
sepal_length  ...             6.7             6.9             5.8
sepal_width   ...             3.1             3.1             2.7
petal_length  ...             5.6             5.1             5.1
petal_width   ...             2.4             2.3             1.9
class         ...  Iris-virginica  Iris-virginica  Iris-virginica

                         143             144             145             146  \
sepal_length             6.8             6.7             6.7             6.3
sepal_width              3.2             3.3             3.0             2.5
petal_length             5.9             5.7             5.2             5.0
petal_width              2.3             2.5             2.3             1.9
class         Iris-virginica  Iris-virginica  Iris-virginica  Iris-virginica

                         147             148             149
sepal_length             6.5             6.2             5.9
sepal_width              3.0             3.4             3.0
petal_length             5.2             5.4             5.1
petal_width              2.0             2.3             1.8
class         Iris-virginica  Iris-virginica  Iris-virginica

[5 rows x 150 columns]

Melted Data to Long Format:
         class      variable  value
0  Iris-setosa  sepal_length    5.1
1  Iris-setosa  sepal_length    4.9
2  Iris-setosa  sepal_length    4.7
3  Iris-setosa  sepal_length    4.6
4  Iris-setosa  sepal_length    5.0

Casted Data to Wide Format:
variable         petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa               1.4          0.2           5.1          3.5
Iris-versicolor           4.7          1.4           7.0          3.2
Iris-virginica            6.0          2.5           6.3          3.3

In [35]:
pd.melt?
pd.pivot_table?

Signature:
pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'Hashable' = 'All',
    observed: 'bool | lib.NoDefault' = <no_default>,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : list-like or scalar, optional
    Column or columns to aggregate.
index : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table index. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
columns : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table column. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
aggfunc : function, list of functions, dict, default "mean"
    If a list of functions is passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves).
    If a dict is passed, the key is column to aggregate and the value is
    function or list of functions. If ``margin=True``, aggfunc will be
    used to calculate the partial aggregates.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    If ``margins=True``, special ``All`` columns and rows
    will be added with partial group aggregates across the categories
    on the rows and columns.
dropna : bool, default True
    Do not include columns whose entries are all NaN. If True,
    rows with a NaN value in any column will be omitted before
    computing margins.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.2.0

        The default value of ``False`` is deprecated and will change to
        ``True`` in a future version of pandas.

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum")
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum", fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean", 'E': "mean"})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean",
...                                 'E': ["min", "max", "mean"]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      /opt/homebrew/Cellar/jupyterlab/4.3.6/libexec/lib/python3.13/site-packages/pandas/core/reshape/pivot.py
Type:      function