In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/Users/akshay/Desktop/dsbda_practical/newdata/hepatitis_csv.csv", header=None)

# Assign column names based on dataset info
df.columns = [
    "Class", "AGE", "SEX", "STEROID", "ANTIVIRALS", "FATIGUE", "MALAISE",
    "ANOREXIA", "LIVER_BIG", "LIVER_FIRM", "SPLEEN_PALPABLE", "SPIDERS",
    "ASCITES", "VARICES", "BILIRUBIN", "ALK_PHOSPHATE", "SGOT", "ALBUMIN",
    "PROTIME", "HISTOLOGY"
]

# Replace missing values indicated by "?" with NaN
df.replace("?", pd.NA, inplace=True)

# Convert columns to appropriate data types
df = df.apply(pd.to_numeric, errors='ignore')

# a. Create data subsets for different sex
male_df = df[df['SEX'] == 1]
female_df = df[df['SEX'] == 2]

# b. Merge two subsets (concatenate back)
merged_df = pd.concat([male_df, female_df])

# c. Sort data by AGE, SGOT, PROTIME
sorted_df = df.sort_values(by=["AGE", "SGOT", "PROTIME"], ascending=[True, True, True])

# d. Transposing data
transposed_df = df.transpose()

# e. Melting Data (long format)
melted_df = pd.melt(df, id_vars=["Class", "AGE", "SEX"], 
                    value_vars=["SGOT", "PROTIME", "ALBUMIN"],
                    var_name="Measurement", value_name="Value")

# f. Casting data back to wide format
wide_df = melted_df.pivot_table(index=["Class", "AGE", "SEX"], 
                                columns="Measurement", values="Value", aggfunc='first').reset_index()

# Output previews
print("Subset - Male:\n", male_df.head())
print("\nMerged Subset:\n", merged_df.head())
print("\nSorted Data:\n", sorted_df.head())
print("\nTransposed Data:\n", transposed_df.head())
print("\nMelted Data:\n", melted_df.head())
print("\nWide Format (Pivoted Data):\n", wide_df.head())

Subset - Male:
 Empty DataFrame
Columns: [Class, AGE, SEX, STEROID, ANTIVIRALS, FATIGUE, MALAISE, ANOREXIA, LIVER_BIG, LIVER_FIRM, SPLEEN_PALPABLE, SPIDERS, ASCITES, VARICES, BILIRUBIN, ALK_PHOSPHATE, SGOT, ALBUMIN, PROTIME, HISTOLOGY]
Index: []

Merged Subset:
 Empty DataFrame
Columns: [Class, AGE, SEX, STEROID, ANTIVIRALS, FATIGUE, MALAISE, ANOREXIA, LIVER_BIG, LIVER_FIRM, SPLEEN_PALPABLE, SPIDERS, ASCITES, VARICES, BILIRUBIN, ALK_PHOSPHATE, SGOT, ALBUMIN, PROTIME, HISTOLOGY]
Index: []

Sorted Data:
     Class     AGE    SEX STEROID ANTIVIRALS FATIGUE MALAISE ANOREXIA  \
105    47  female   True   False       True    True   False     True
132    31  female  False   False       True    True    True     True
128    50  female   True   False       True   False   False     True
145    45  female   True   False       True    True    True     True
68     57  female   True   False       True    True    True     True

    LIVER_BIG LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES BILIRUBIN  \
105      True      False           False    True    True     1.7        86
132     False       True           False   False   False       8       NaN
128      True       True           False    True    True     2.8       155
145     False      False            True    True   False     1.9       NaN
68      False      False            True    True   False     4.1       NaN

    ALK_PHOSPHATE SGOT ALBUMIN PROTIME HISTOLOGY
105            20  2.1      46    True       die
132           101  2.2     NaN    True       die
128            75  2.4      32    True       die
145           114  2.4     NaN    True       die
68             48  2.6      73   False       die

Transposed Data:
                    0      1       2       3       4       5       6       7    \
Class              age     30      50      78      31      34      34      51
AGE                sex   male  female  female  female  female  female  female
SEX            steroid  False   False    True     NaN    True    True   False
STEROID     antivirals  False   False   False    True   False   False   False
ANTIVIRALS     fatigue  False    True    True   False   False   False    True

               8       9    ...     146     147     148     149     150  \
Class           23      39  ...      31      41      70      20      36
AGE         female  female  ...  female  female  female  female  female
SEX           True    True  ...   False    True   False   False    True
STEROID      False   False  ...   False   False   False   False   False
ANTIVIRALS   False    True  ...    True    True    True   False   False

               151     152     153    154     155
Class           46      44      61     53      43
AGE         female  female  female   male  female
SEX           True    True   False  False    True
STEROID      False   False   False  False   False
ANTIVIRALS    True    True    True   True    True

[5 rows x 156 columns]

Melted Data:
   Class     AGE      SEX Measurement    Value
0   age     sex  steroid        SGOT  albumin
1    30    male    False        SGOT        4
2    50  female    False        SGOT      3.5
3    78  female     True        SGOT        4
4    31  female      NaN        SGOT        4

Wide Format (Pivoted Data):
 Measurement Class     AGE    SEX ALBUMIN PROTIME SGOT
0              20  female  False      23    True  2.9
1              20    male  False     NaN   False  3.9
2              22  female   True     NaN    True  NaN
3              22    male   True      64   False  4.2
4              23  female   True      90   False  4.1

/var/folders/5g/t82_pq9x5fj3rxthynyd_5_m0000gn/T/ipykernel_27494/3046607850.py:18: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')